/**
 * Fail2WP CSS
 */

.fail2wp-role-option {
    display: inline;
    float: left;
    padding-right: 5px;
}
.fail2wp-config-header {
	padding: 20px 10px;
	border-top: 5px solid #35537a;
	background: #fff;
}
.fail2wp-config-section {
	margin-top: 15px;
	padding: 25px 10px;
	color: #000;
	background: #fff;
}
.fail2wp-ext-link {
  color: #007bff;
  text-decoration: none;
}
img.fail2wp-wps-logo {
    display: inline-block;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    max-width: 100px;
    height: auto;
}
